<template>
	<div class="mt--9 container-fluid">
		<Search
			@handleLoadShipments="handleLoadShipments"
			@handleSaveShipment="handleSaveShipment"
			@handleFindShipment="handleFindShipment"
			:shipmentsCount="shipmentsCount"
			:modified="modified"
			:data="data"
		/>
		<ShipmentDetails
			:shipmentsCount="shipmentsCount"
			:updated="updated"
			:loading="loading"
			:data="data"
			@handleCargoChange="handleCargoChange"
		/>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex'
	import Search from '@/components/Search'
	import ShipmentDetails from '@/components/ShipmentDetails'

	export default {
		name: 'Shipment',
		components: {
			Search,
			ShipmentDetails
		},
		computed: {
			...mapGetters('SHIPMENT', [
				'shipmentsCount',
				'modified',
				'updated',
				'loading',
				'data',
			])
		},
		methods: {
			async handleLoadShipments() {
				await this.$store
					.dispatch('SHIPMENT/requestShipmentLoad')

				if (this.$route.params.shipment_id)
					await this.$store
						.dispatch('SHIPMENT/requestShipmentData', this.$route.params)
			},

			handleCargoChange(value) {
				this.$store
					.dispatch('SHIPMENT/editCargoBox', value)
			},

			handleSaveShipment() {
				this.$store
					.dispatch('SHIPMENT/requestShipmentUpdate')
			},

			handleFindShipment(keyword) {
				this.$store
					.commit('SHIPMENT/setKeyword', keyword)
			}
		},
		async beforeRouteUpdate (to, from, next) {
			const { name, params } = to

			if (name !== 'Shipment')
				return next()

			await this.$store
				.dispatch('SHIPMENT/requestShipmentData', params)

			return next()
		},
	}
</script>