<template>
	<div class="row">
		<div class="col">
			<div class="card-frame card">
				<div class="card-header">
					<div class="align-center text-left flex-left overflow-auto">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fa fa-search"></i>
								</span>
							</div>
							<input type="text" class="form-control" placeholder="Search" @keyup="handleChange">
						</div>
						<div class="col-md-4">
							<button
								type="button"
								class="col-md-5 btn btn-secondary"
								:disabled="shipmentsCount > 0"
								@click="handleLoad">Load</button>
							<button
								type="button"
								class="col-md-5 btn btn-primary"
								v-if="data"
								:disabled="!modified"
								@click="handleSave">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'Search',
		props: [
			'shipmentsCount',
			'modified',
			'data'
		],
		methods: {
			handleChange(event) {
				this.$emit('handleFindShipment', event.target.value)
			},

			handleLoad() {
				this.$emit('handleLoadShipments')
			},

			handleSave() {
				this.$emit('handleSaveShipment')
			},
		}
	}
</script>

<style scoped>
	.svg-inline--fa	{
		min-width: 2.25rem;
	}
</style>
