<template>
	<div class="row">
		<div class="col">
			<div class="card-frame card">
				<div class="card-body">
					<div class="text-center">

						<p v-if="!shipmentsCount">No local saved shipments, Please load set shipments.</p>
						<p v-if="shipmentsCount && !$route.params.shipment_id">
							Please select a shipment to view.
						</p>
						<p v-if="shipmentsCount && $route.params.shipment_id && !loading && !data">
							The shipment you are looking for, cannot be found
						</p>

					</div>
					<div v-if="data">
						<h1>{{ data.name }}</h1>
						<p>
							<b>{{ data.email }}</b>
						</p>
						<p>Number of required cargo bays: <b>{{ cargoBays }}</b></p>
						<div class="row col-md-5 form-group">
							<p>Cargo Boxes: </p>
							<input
								placeholder="Boxes"
								id="name"
								type="text"
								class="form-control"
								v-model="cargoBox"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import sum from 'lodash/sum'

	export default {
		name: 'ShipmentDetails',
		props: [
			'shipmentsCount',
			'updated',
			'loading',
			'data',
		],
		computed: {
			cargoBays() {
				try {
					const boxes = this.data.boxes
					.split(',')
					.map(box => isNaN(Number(box)) ? 0 : Number(box))

					return Math.ceil(sum(boxes) / 10)
				} catch(err) {
					return 0
				}
			},

			cargoBox: {
				get() {
					return this.data.boxes
				},

				set(value) {
					this.$emit('handleCargoChange', {
						id: this.data.id,
						boxes: value
					});
				}
			}
		},
		methods: {
			handleCargoChange(event) {
				this.$emit('handleCargoChange', {
					id: this.data.id,
					boxes: event.target.value
				});
			},
		}
	}
</script>