<template>
	<nav id="sidenav-main" class="navbar-vertical fixed-left navbar-light bg-white navbar navbar-expand-md" style="">
		<div class="container-fluid">
			<a class="pt-0 navbar-brand">
				<img alt="..." class="navbar-brand-img" :src="Logo">
			</a>
			<div class="collapse navbar-collapse" aria-expanded="false">
				<ul class="navbar-nav">
					<li class="nav-item"  v-for="(shipment, index) in filteredShipment" :key="index">
						<router-link
							class="nav-link"
							:to="{ name: 'Shipment', params: { shipment_id: shipment.id }}"
							:class="{ 'active text-success': shipment.id === $route.params.shipment_id }"
						>
							<i class="fa fa-address-card"></i>
							<span>{{ shipment.name }}</span>
						</router-link>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</template>

<script>
import { mapGetters } from 'vuex'
import Logo from '@/assets/logo.png'

export default {
  name: 'SideNav',
	methods: {
		getLogo() {
			return Logo
		}
	},
	computed: {
		Logo() {
			return Logo
		},
		...mapGetters('SHIPMENT', [
			'filteredShipment'
		])
	},
}
</script>

<style scoped>
	.svg-inline--fa	{
		min-width: 2.25rem;
	}
</style>
