<template>
	<div id="app">
		<SideNav/>
		<div class="main-content" style="">
			<div class="header bg-gradient-success pb-8 pt-5 pt-md-8"></div>
			<router-view/>
		</div>
	</div>
</template>


<script>
	import SideNav from '@/components/SideNav.vue'

	export default {
		name: 'app',
		components: {
			SideNav
		}
	}
</script>
